h1{
    text-align-last: center;
}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
     clear: both;
  }
  
  
.tot{
    text-align-last: center;
}
.tax{
    text-align-last: center;
}
.grandtotal{
    text-align-last: center;
}
footer{
    text-align-last: center;
}
.but{
    text-align-last: center;
}